html,
body {
    margin: 0;
    padding: 0;
}

body {
  background-color: black;
  font-family: sans-serif;
  line-height: 160%;
}

/*

Headings and paragraphs should have no spacing by default to avoid mysterious gaps between elements.
*/
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

/*

Add a consistent padding to the bottom of headings and paragraphs.

*/
h1,
h2,
p {
  padding-bottom: 2rem;
}

body,
a {
  color: #eaeaea;
}

h1,
h2 {
  color: white;
  font-weight: 200;
}

main {
  background-color: #141414;
}

.header {
  background-image: url(images/header.jpg);
  background-size: cover;
  min-height: 100vh;
  border-bottom: 1px solid #303030;
}

/*

The first content element in the header is responsible for the top padding.

*/
.header .content-top {
  margin-top: 0;
  padding-top: 50vh;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  font-size: 80%;
  color: #808080;
  text-align: center;
}

.wrap {
  max-width: 40rem;
  margin: 0 auto;
}

.gutter {
  margin: 0 0.5rem;
}

.lead {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
}

@media (min-width: 40rem) {
  .header {
    min-height: initial;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
