@import "normalize";
@import "fonts";

// Colors
$primary-text-color: #eaeaea;
$secondary-text-color: #7c7c90;
$heading-color: white;
$border-color: #2c2c40;

// Breakpoints
$medium-breakpoint: 48rem;
$large-breakpoint: 60rem;

/*

Base styles.

*/
body {
    font-family: "Fira Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
}

/*

Headings and paragraphs should have no spacing by default to avoid mysterious gaps between elements.
The other elements just for styling purposes.

*/
html,
body,
h1,
h2,
h3,
p,
.icons,
.icon {
    padding: 0;
    margin: 0;
}

/*

Add a consistent padding to the bottom of headings and paragraphs.

*/
h2,
h3,
p {
    padding-bottom: 2rem;
}

body,
a {
    color: $primary-text-color;
}

h1,
h2,
h3 {
    font-family: "Bebas Neue", Helvetica, sans-serif;
    font-weight: normal;
}

h2,
h3 {
    color: $heading-color;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 0.5rem 0;
}

h2 {
    font-size: 2rem;
}

h2::after,
h3::after {
    content: ".";
    color: $secondary-text-color;
}

h3 {
    font-size: 1.5rem;
}

p,
li {
    line-height: 1.75rem;
}

img {
    max-width: 100%;
}

noscript {
    padding: 4rem 1rem;
    font-weight: bold;
}

.default-background {
    background-color: black;
}

.header {
    background-color: white;
    color: black;
    text-align: center;
    line-height: 0;
}

.header p {
    padding: 0;
}

.section {
    border-bottom: 1px solid $border-color;
}

.header .content-top {
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 0;
}

.section,
.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section *:last-child,
.footer *:last-child {
    padding-bottom: 0;
}

.footer {
    font-size: 80%;
    color: $secondary-text-color;
    text-align: center;
}

.wrap {
    max-width: 60rem;
    margin: 0 auto;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.gutter {
    margin: 0 0.5rem;
}

.lead {
    font-weight: 300;
    padding-top: 0.5rem;
}

@import "counter";
@import "genealogy";
@import "music";
@import "books";
@import "beer";
@import "socialmedia";

@media (min-width: $medium-breakpoint) {
    .header {
        text-align: left;
    }

    .header,
    .portrait {
        height: 40rem;
    }

    .header .wrap {
        position: relative;
    }
    .portrait,
    .header .gutter {
        position: absolute;
    }

    .portrait {
        top: 0;
        left: -8rem;
        z-index: 0;
    }

    .header .gutter {
        padding-top: 10rem;
        padding-left: 50%;
        z-index: 1;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (min-width: $large-breakpoint) {
    .section {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@import "reveal-on-scroll";