@import "normalize";
@import "fonts";

// Colors
$primary-text-color: #eaeaea;
$secondary-text-color: #7c7c90;
$heading-color: white;
$border-color: #2c2c40;

// Breakpoints
$medium-breakpoint: 48rem;
$large-breakpoint: 60rem;

/*

Base styles.

*/
body {
    font-family: "Fira Sans", "Helvetica Neue", sans-serif;

    @media screen {
        font-weight: 300;
    }

    @media print {
        font-size: 11pt;
    }
}

/*

Headings and paragraphs should have no spacing by default to avoid mysterious gaps between elements.
The other elements just for styling purposes.

*/
html,
body,
h1,
h2,
h3,
p,
.icons,
.icon {
    padding: 0;
    margin: 0;
}

/* Safari does not care... */
@page {
    margin: 20mm 20mm 20mm 20mm;
}

/* ...so this is the compromise. */
@media print {
    body {
        margin: 20mm 20mm 20mm 20mm;
    }
}

/*

Add a consistent padding to the bottom of headings and paragraphs.

*/
h2,
h3,
p {
    padding-bottom: 2rem;
}

@media screen {
    body,
    a {
        color: $primary-text-color;
    }
}

h1,
h2,
h3 {
    font-family: "Bebas Neue", Helvetica, sans-serif;
    font-weight: normal;
}

@media screen {
    h2,
    h3 {
        color: $heading-color;
    }
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 0.5rem 0;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p,
li {
    @media screen {
        line-height: 1.75rem;
    }

    @media print {
        line-height: 1.5rem;
    }
}

img {
    max-width: 100%;
}

.default-background {
    background-color: black;
}

.header {
    text-align: center;
    line-height: 0;
}

@media screen {
    .section {
        border-bottom: 1px solid $border-color;   
    }

    .section,
    .footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.footer {
    font-size: 80%;
    color: $secondary-text-color;
    text-align: center;
}

.footer p {
    line-height: 1.25rem;
}

.wrap {
    max-width: 60rem;
    margin: 0 auto;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.gutter {
    margin: 0 0.5rem;
}

.page-break {
    @media screen {
        display: none;
    }

    @media print {
        page-break-after: always;
    }
}

@import "navigation";
@import "counter";
@import "read-more";
@import "index/page";
@import "music/page";
@import "career/page";

@media screen and (min-width: $medium-breakpoint) {
    .section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (min-width: $large-breakpoint) {
    .section {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
