.section.music {
    padding-top: 0;
}

.music-image-container {
    position: relative;
    height: 15rem;
    width: 100%;
    max-width: 100%;
}

.music-image-container img {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    max-width: initial;
    width: 768px;
    margin-left: -384px;
}

@media (min-width: $medium-breakpoint) {
    .music-image-container {
        height: 20rem;
    }

    .music-image-container img {
        width: 960px;
        margin-left: -480px;
    }
}

@media (min-width: $large-breakpoint) {
    .music-image-container {
        height: 40rem;
    }

    .music-image-container img {
        width: 1920px;
        margin-left: -960px;
    }
}