.icons {
    padding-top: 2rem;
    list-style: none;
    text-align: center;
}

.icons li {
    display: inline-block;
    line-height: 6rem;
}

.icons a {
    padding: 1rem;
}

.icons .icon {
    width: 4rem;
    height: 4rem;
}
