/*

Custom web font integration.

*/
@font-face {
  font-family: "Bebas Neue";
  src: url("fonts/bebasneue-regular.eot") format("embedded-opentype"),
       url("fonts/bebasneue-regular.woff2") format("woff2"),
       url("fonts/bebasneue-regular.woff") format("woff"),
       url("fonts/bebasneue-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*

Base styles.

*/
body {
  background-color: black;
  font-family: sans-serif;
}

/*

Headings and paragraphs should have no spacing by default to avoid mysterious gaps between elements.
The other elements just for styling purposes.

*/
html,
body,
h1,
h2,
p,
.icons,
.icon {
  padding: 0;
  margin: 0;
}

/*

Add a consistent padding to the bottom of headings and paragraphs.

*/
h1,
h2,
p {
  padding-bottom: 2rem;
}

body,
a {
  color: #eaeaea;
}

h1,
h2 {
  font-family: "Bebas Neue";
  color: white;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.6rem;
}

main {
  background-color: #141414;
}

.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  min-height: 100vh;
  border-bottom: 1px solid #303030;
}

/*

The first content element in the header is responsible for the top padding.

*/
.header .content-top {
  margin-top: 0;
  padding-top: 25vh;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  font-size: 80%;
  color: #808080;
  text-align: center;
}

.wrap {
  max-width: 40rem;
  margin: 0 auto;
}

.gutter {
  margin: 0 0.5rem;
}

.lead {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
}

.icons {
  padding-top: 2rem;
  list-style: none;
  text-align: center;
}

.icons li {
  display: inline-block;
  line-height: 6rem;
}

.icons a {
  padding: 1rem;
}

.icons .icon {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 4rem;
  }

  .header {
    min-height: initial;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .header .content-top {
    padding-top: initial;
  }
}
