.page.career {
	@media screen {
		.header {
			border-bottom: 1px solid $border-color;
			min-height: 100vh;

			h1 {
				padding-top: 1.5rem;
			}
		}

		.section.jobs {
			background: linear-gradient(to top right, black, #141420);
		}
	}

	.occupation-container {
		padding-bottom: 2rem;
		page-break-inside: avoid;
	}

	.occupation-container:first-child {
		padding-top: 0;
	}

	.occupation-container:last-child {
		padding-bottom: 0;
		border: none;
	}

	.occupation-title,
	.occupation-employer {
		padding: 0;
	}

	.occupation-employer,
	.occupation-range {
		line-height: 1.5rem;
	}

	@media screen {
		.occupation-range {
			color: $secondary-text-color;
		}
	}

	@media screen and (min-width: $medium-breakpoint) {
	    .header {
			min-height: initial;

	        h1 {
	        	padding-top: 10rem;
	        }

	        .lead {
	        	padding-bottom: 10rem;
	        }
	    }
	}

	@media (min-width: $large-breakpoint) {
		.occupation-header {
			float: left;
			width: 25%;
		}

		.occupation-range {
			padding: 0;
		}

		.occupation-description {
			float: right;
			width: 70%;
		}

		.occupation-clearance {
			clear: both;
		}
	}
}

